/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    line-height: 1.5;

}

a {
    text-decoration: none;
    color: white;
}

/* Header */
header {
    background-color: #223969;
}

.brand img {
    width: 200px;
}
.heading {
    display: flex;
    justify-content: space-between;
}
.navigation{
    font-size: 25px;
    color: white;
    height: 130px;
    line-height: 130px;
}


.profile-name {
    margin-left: 40px;
    margin-right: 10px;
}

/* Aside */

.aside{
    background-color: rgb(109, 193, 248);
    width: 30%;
    
}
.aside a {
    color: rgb(25, 25, 59);
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
}

.main-body {
    display:flex;
    padding: 40px 0;
    justify-content: space-between;
}

#article-color {
    color: rgb(167, 82, 33);
    border: 1px solid rgb(238, 79, 5);
    border-radius: 8px;
}


.aside {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-between;
    border-radius: 8px;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    
}

.logout {
    background-color: white;
    border-radius: 8px;
}

/* Main */

main {
    width: 65%;
    background-color: rgb(215, 236, 248);
    height: 800px;
    border-radius: 8px;
    padding: 20px;
}
.punch-image {
    width: 100%;
    border-radius: 8px;
}

h1{
    font-size: 35px;
    color: rgb(25, 25, 59);
    padding: 10px 0;
    font-weight: 700;
}
p {
    font-size: 18px;
    color: rgb(25, 25, 59);
    margin-bottom: 10px;
}
.read-more {
    color: white;
    background-color: #15be52;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;

}

/* Footer */

footer { 
    background-color: rgb(25,25,59);
    padding: 20px 0;
}

footer a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;  
}


small {
    font-size: 22px;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
}